html {
  height: 100%;
}

.body p {
  all: none;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font: 7em;
  color: white;
}



.main-container {
  margin: 0;
  height: 100%;
  background-image: url("/images/space.png");
  background-repeat: no-repeat;
  background-size: 100%;

}

.container-head-bouble {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  border-radius: 100em;
  }


.head-shot {
  display: flex;
  padding-left: 12em;
  padding-top: 12em;
  padding-bottom: 12em;
  padding-right: 5em;

}


.bouble-text-triangle {
 display: flex;
 border-style : none;
 flex-direction: column;
 padding-top: 8em;
 padding-right: 12em;
 
}

.speach-bouble {
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 1.5em;
  padding: 5em;
  background-color: #D1D4D6;
  border-radius: 1em;
  padding-bottom: 2em;
  opacity: 0.85;

}

.triangle {
  display: flex;
  justify-content: center;
  padding-right: 15em;
  padding-left: 5em;
  color: #D1D4D6;
  padding-left: 1em;
  opacity: 0.6;
  }

.text-large {
  all: none;
  font-size: 2em;
  align-content: center;
  color: #000000;
}

.text-medium {
  all: none;
  font-size: 1.5em;
  align-content: center;
  color: #000000;
}

