html {
  
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
}


.body  {
  all: none;
  margin: 0;
  min-height: 100%;
  max-width: 70%;
  font: 7em;
  margin-left: auto;
  margin-right: auto;
  
  
}



.main-container {
  margin: 0;
  height: 100%;
  background-image: url("/images/space.png");
  background-repeat: no-repeat;
  background-size: 100%;

}

.container-head-bouble {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  border-radius: 100em;
  }


.head-shot {
  display: flex;
  padding-left: 12em;
  padding-top: 12em;
  padding-bottom: 20em;
  padding-right: 5em;
  object-fit: cover;
  width: 50;
  height: 50px;
  border-radius: 2em;

}

.head {
  border-radius: 1.1em;
}


.bouble-text-triangle {
 display: flex;
 border-style : none;
 flex-direction: column;
 padding-top: 8em;
 padding-right: 12em;
 
}

.speach-bouble {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 1.5em;
  padding: 5em;
  background-color: #D1D4D6;
  border-radius: .5em;
  padding-bottom: 2em;
  opacity: 0.85;

}

.triangle {
  display: flex;
  justify-content: center;
  padding-right: 15em;
  padding-left: 5em;
  color: #D1D4D6;
  padding-left: 1em;
  opacity: 0.6;
  }

.text-large {
  white-space: nowrap;
  font-weight: 999;

  font-size: 2em;
  color: #000000;
  margin-top: -1.5em;
  margin-left: -1.5em;
}

.text-medium {
  white-space: nowrap;
  font-size: 1.5em;
  
  margin-top: -1.25em;
  margin-left: -2em;

}

/*  Begin second section of header  */


.second-section-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 10em;
  background: linear-gradient(to right, #000000 ,#19272C);  padding-top: 2em;
  padding-bottom: 2em;
  
}

.img2 {
  object-fit: cover;
  width: 225px;
  height: 160px;
  border-radius: .5em;

}

/* second section first paragraph */


.react {
  object-fit: cover;
  width: 100%;
  height: 5em;
  margin-bottom: -.5em;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
}

.header-container2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
  width: 100%;
  height: 2.5em;
  padding-bottom: -5em;
  
}

.react-text {
  color: #000000;
  padding-left: 1.25em;
  font-weight: 900;
  font-size: 1.195em;
  
}

.react-text-date {
  color: rgb(148, 150, 151);
  padding-left: 1.5em;
  padding-top: .3em;
}

.container2-body {
  display: flex;
  flex-direction: row;
  
  background-color: #ffffff;
  width: 100%;
  height: 4em;
  padding-bottom: 2.5em; 
  padding-left: 0em;
  padding-right: -5em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.react-body-text {
  padding-left: 1.75em;
  padding-right: 3em;
  font-size: .75em;
}